<div class="wrapper">
    <div class="row px-sm-5">
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="footer-list">
                <h4 class="list-title">الدعم</h4>
                <ul>
                    <li>العراق</li>
                    <li>exclusive@gmail.com</li>
                    <li>+88015-88888-9999</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="footer-list">
                <h4 class="list-title">الحساب</h4>
                <ul>
                    <li>
                        <a href="">تسجيل الدخول</a>
                    </li>
                    <li>
                        <a href="">تسجيل جديد</a>
                    </li>
                    <li>
                        <a href="">من نحن</a>
                    </li>
                    <li>
                        <a href="">التواصل</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="footer-list">
                <h4 class="list-title">رابط سريع</h4>
                <ul>
                    <li>
                        <a href="">الرئيسية</a>
                    </li>
                    <li>
                        <a href="">المدرسين</a>
                    </li>
                    <li>
                        <a href="">الأقسام</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="d-flex flex-column align-items-center gap-4">
                <a href="/">
                    <img class="logo" src="/images/icons/logo.svg" alt="logo">
                </a>
                <p class="text-white fs-5">
                    تابعنا على منصاتنا
                </p>
                <div class="d-flex justify-content-center align-items-center gap-4">
                    <a class="p-1" href="">
                        <img src="/images/icons/linkedin.svg" alt="">
                    </a>
                    <a class="p-1" href="">
                        <img src="/images/icons/instagram.svg" alt="">
                    </a>
                    <a class="p-1" href="">
                        <img src="/images/icons/twitter.svg" alt="">
                    </a>
                    <a class="p-1" href="">
                        <img src="/images/icons/facebook.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="copyRight">
    حقوق النشر محفوظة © أكاديمية سالي 2025
</div>