<div class="wrapper">
    <div class="d-flex justify-content-between align-items-center">
        <div class="logo">
            <img src="/images/icons/logo.svg" alt="Logo">
        </div>
        <nav id="navMenu">
            <span onclick="toggleMenu()" class="btn-close-menu d-md-none">
                x
            </span>
            <ul>
                <li>
                    <a href="/" class="active">الرئيسية</a>
                </li>
                <li>
                    <a href="">المدرسين</a>
                </li>
                <li>
                    <a href="">الأقسام</a>
                </li>
                <li>
                    <a href="">من نحن</a>
                </li>
                <li>
                    <a href="">تواصل معنا</a>
                </li>
            </ul>
        </nav>
        <div class="d-flex gap-3 align-items-center">
            <a href="" class="btn btn-yellow-500 btn-login">تسجيل الدخول</a>
            <span id="btnMenu" onclick="toggleMenu()" class="btn-menu d-md-none">
                <img src="/images/icons/bars.svg" alt="">
            </span>
        </div>
    </div>
</div>