#app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  @media (max-width: 991px) {
    padding: 0 0.5rem;
  }
}

main {
  flex-grow: 1;
  padding-top: 88px;
  /* width: 100dvw; */
  overflow: hidden;
}

section {
  padding-block: 3rem;
  margin-bottom: 3rem;
}
