:root {
  --color-maron-500: rgb(64, 1, 1);

  --color-yellow-500: rgb(255, 216, 102);

  --color-green-500: rgb(91, 110, 64);

  --color-gray-500: rgb(78, 78, 78);

  --color-gray-800: rgb(243, 244, 246);

  --color-maron-500-rgb: 64, 1, 1;

  --color-yellow-500-rgb: 255, 216, 102;

  --color-green-500-rgb: 91, 110, 64;

  --color-gray-500-rgb: 78, 78, 78;

  --color-white-900: #fafafa;
}
